footer {
    display: flex;
    justify-content: center;
    width: 100%;   
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 0;
    border-color: gray;
}
